.team-list {
  margin-top: 20px;
}

.remove {
  font-weight: 800;
  font-size: large;
  text-align: -webkit-right;
  margin-top: -40px;
}

.card-title {
  padding-left: 5px !important;
  padding-top: 5px !important;
}

.conference {
  border-top: 1px solid;
  margin-left: 10px;
  margin-right: 10px;
}

.card-bottom {
  margin-bottom: 10px;
}

.side-by-side {
  width: 100%;
  border: 1px solid black;
}
.side-by-side li {
  display: inline;
}
